/* Colores: https://imagecolorpicker.com/es/
#77924c Verde
#e3743b Naranja
#fbbc2d Amarillo
#eb9c2c Amarillo Quemado
#3d5e7b Azul Oscuro
#048be2 Azul Rey */

.navbarSet {
    background-color: #eb9c2c;
    color: #3d5e7b !important;
}

.jumbotron {
    background-color: #3d5e7b;
    color: #fbbc2d;
    text-align: center;
    margin-top: 55px;
}

.bodySet {
    background-color: #77924c;    
}

.bodyTitle {
    color: #3d5e7b;
    text-align: center;
}

.topicUp {
    flex: 1 300px;
    padding: 2px 2px 2px 20px;
    text-align: center;
}

.opcSet {
    flex: 1 150px;
    height: 400px;
    /* padding: 2px 20px 2px 20px; */
    text-align: center;
    margin-top: 10px;
    background-color: #048be2;
    /*Fondo*/
    color: #fbbc2d;
    /*Texto*/
    border-color: #3d5e7b;
    /*Borde*/
}


/* .opcCard {
    
} */

.setBtn {
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
    color: white;
    background-color: #3d5e7b;
    border-color: #eb9c2c;
}

.setBtnG {
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
    color: white;
    background-color: #3d5e7b;
    border-color: #eb9c2c;
}

.btn {
    background-color: rgb(153, 123, 113);
    color: rgb(158, 49, 12);
}

.btnPrecio {
    background-color: white;
    color: coral;
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
}

.footer {
    padding: 15px 10px 0px 10px;
    background-color: #eb9c2c;
    color: #3d5e7b;
    margin-bottom: 10px;
    margin-top: 1px;
}

.footer-icons {
    padding-right: 10px;
}

.tab-content {
    padding-top: 5px;
}