/* Colores: https://imagecolorpicker.com/es/
#77924c Verde
#e3743b Naranja
#fbbc2d Amarillo
#eb9c2c Amarillo Quemado
#3d5e7b Azul Oscuro
#048be2 Azul Rey */

$blanco:#ffffff;
$verde: #718C49;
$naranja:#e3743b;
$amarillo:#F2AC29;
$quemado:#F29B30;
$azulOsc:#365B73;
$azulRey:#0597F2;
$cafeClaro: rgb(153, 123, 113);
$cafeRojiso:rgb(158, 49, 12);
$coral:#ff7f50;
@mixin styleJtron($BGColor, $fontColor, $top, $bottom, $textAlign) {
    background-color: $BGColor;
    color: $fontColor;
    margin-top: $top;
    margin-bottom: $bottom;
    text-align: $textAlign;
}

@mixin styleFooter($BGColor, $fontColor, $top, $bottom, $pA, $pB, $pC, $pD) {
    background-color: $BGColor;
    color: $fontColor;
    margin-top: $top;
    margin-bottom: $bottom;
    padding: $pA $pB $pC $pD;
}

.navbarSet {
    background-color: $quemado;
    color: $azulOsc !important;
}

.jumbotron {
    @include styleJtron($azulOsc, $amarillo, 55px, 10px, center)
}

.footer {
    @include styleFooter($quemado, $azulOsc, 10px, 20px, 15px, 10px, 0px, 10px)
}

.bodySet {
    background-color: $verde;
}

.bodyTitle {
    color: $azulOsc;
    text-align: center;
}

.topicUp {
    flex: 1 300px;
    padding: 2px 2px 2px 20px;
    text-align: center;
}

.opcSet {
    flex: 1 150px;
    height: 400px;
    /* padding: 2px 20px 2px 20px; */
    text-align: center;
    margin-top: 10px;
    background-color: $azulRey;
    /*Fondo*/
    color: $amarillo;
    /*Texto*/
    border-color: $azulOsc;
    /*Borde*/
}


/* .opcCard {
    
} */

.setBtn {
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
    color: $blanco;
    background-color: $azulOsc;
    border-color: $quemado;
}

.setBtnG {
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
    color: $blanco;
    background-color: $azulOsc;
    border-color: $quemado;
}

.btn {
    background-color: $cafeClaro;
    color: $cafeRojiso;
}

.btnPrecio {
    background-color: $blanco;
    color: $coral;
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
}

.footer-icons {
    padding-right: 10px;
}

.tab-content {
    padding-top: 5px;
}