/* Colores: https://imagecolorpicker.com/es/
#77924c Verde
#e3743b Naranja
#fbbc2d Amarillo
#eb9c2c Amarillo Quemado
#3d5e7b Azul Oscuro
#048be2 Azul Rey */
.navbarSet {
  background-color: #F29B30;
  color: #365B73 !important;
}

.jumbotron {
  background-color: #365B73;
  color: #F2AC29;
  margin-top: 55px;
  margin-bottom: 10px;
  text-align: center;
}

.footer {
  background-color: #F29B30;
  color: #365B73;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px 10px 0px 10px;
}

.bodySet {
  background-color: #718C49;
}

.bodyTitle {
  color: #365B73;
  text-align: center;
}

.topicUp {
  flex: 1 300px;
  padding: 2px 2px 2px 20px;
  text-align: center;
}

.opcSet {
  flex: 1 150px;
  height: 400px;
  /* padding: 2px 20px 2px 20px; */
  text-align: center;
  margin-top: 10px;
  background-color: #0597F2;
  /*Fondo*/
  color: #F2AC29;
  /*Texto*/
  border-color: #365B73;
  /*Borde*/
}

/* .opcCard {

} */
.setBtn {
  width: 100%;
  position: center;
  left: 0;
  bottom: 0;
  border-radius: 0%;
  color: #ffffff;
  background-color: #365B73;
  border-color: #F29B30;
}

.setBtnG {
  width: 100%;
  position: center;
  left: 0;
  bottom: 0;
  border-radius: 0%;
  color: #ffffff;
  background-color: #365B73;
  border-color: #F29B30;
}

.btn {
  background-color: #997b71;
  color: #9e310c;
}

.btnPrecio {
  background-color: #ffffff;
  color: #ff7f50;
  width: 100%;
  position: center;
  left: 0;
  bottom: 0;
  border-radius: 0%;
}

.footer-icons {
  padding-right: 10px;
}

.tab-content {
  padding-top: 5px;
}

/*# sourceMappingURL=styles.css.map */
