/* Colores: https://imagecolorpicker.com/es/
#ffffff Blanco
#77924c Verde
#db3f3f Rojo
#e3743b Naranja
#fbbc2d Amarillo
#eb9c2c Amarillo Quemado
#3d5e7b Azul Oscuro
#048be2 Azul Rey */

@blanco:#ffffff;
@verde: #8F8D29;
@rojo: #db3f3f;
@naranja:#e3743b;
@amarillo:#2A97DB;
@quemado:#DBDA56;
@azulOsc:#8F1B1B;
@azulRey:#048be2;
@cafeClaro: rgb(153, 123, 113);
@cafeRojiso:rgb(158, 49, 12);
@coral:#ff7f50;
.styleJtron(@BGColor: @blanco, @fontColor: @azulOsc, @top: 0px, @bottom: 0px, @textAlign: left) {
    background-color: @BGColor;
    color: @fontColor;
    margin-top: @top;
    margin-bottom: @bottom;
    text-align: @textAlign;
}

.styleFooter(@BGColor: @blanco, @fontColor: @azulOsc, @top: 0px, @bottom: 0px, @pA: 0px, @pB: 0px, @pC: 0px, @pD:0px) {
    background-color: @BGColor;
    color: @fontColor;
    margin-top: @top;
    margin-bottom: @bottom;
    padding: @pA @pB @pC @pD;
}

.navbarSet {
    background-color: @quemado;
    color: @azulRey !important;
}

.jumbotron {
    .styleJtron(@azulOsc, @quemado, 55px, 10px, center)
}

.footer {
    .styleFooter(@quemado, @azulOsc, 10px, 20px, 15px, 10px, 0px, 10px)
}

.bodySet {
    background-color: @rojo;
}

.bodyTitle {
    color: @azulOsc;
    text-align: center;
}

.topicUp {
    flex: 1 300px;
    padding: 2px 2px 2px 20px;
    text-align: center;
}

.opcSet {
    flex: 1 150px;
    height: 400px;
    /* padding: 2px 20px 2px 20px; */
    text-align: center;
    margin-top: 10px;
    background-color: @azulRey;
    /*Fondo*/
    color: @quemado;
    /*Texto*/
    border-color: @quemado;
    /*Borde*/
}


/* .opcCard {
    
} */

.setBtn {
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
    color: @blanco;
    background-color: @azulOsc;
    border-color: @quemado;
}

.setBtnG {
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
    color: @blanco;
    background-color: @azulOsc;
    border-color: @quemado;
}

.btn {
    background-color: @cafeClaro;
    color: @cafeRojiso;
}

.btnPrecio {
    background-color: @blanco;
    color: @coral;
    width: 100%;
    position: center;
    left: 0;
    bottom: 0;
    border-radius: 0%;
}

.footer-icons {
    padding-right: 10px;
}

.tab-content {
    padding-top: 5px;
}