/* Colores: https://imagecolorpicker.com/es/
#ffffff Blanco
#77924c Verde
#db3f3f Rojo
#e3743b Naranja
#fbbc2d Amarillo
#eb9c2c Amarillo Quemado
#3d5e7b Azul Oscuro
#048be2 Azul Rey */
.navbarSet {
  background-color: #DBDA56;
  color: #048be2 !important;
}
.jumbotron {
  background-color: #8F1B1B;
  color: #DBDA56;
  margin-top: 55px;
  margin-bottom: 10px;
  text-align: center;
}
.footer {
  background-color: #DBDA56;
  color: #8F1B1B;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px 10px 0px 10px;
}
.bodySet {
  background-color: #db3f3f;
}
.bodyTitle {
  color: #8F1B1B;
  text-align: center;
}
.topicUp {
  flex: 1 300px;
  padding: 2px 2px 2px 20px;
  text-align: center;
}
.opcSet {
  flex: 1 150px;
  height: 400px;
  /* padding: 2px 20px 2px 20px; */
  text-align: center;
  margin-top: 10px;
  background-color: #048be2;
  /*Fondo*/
  color: #DBDA56;
  /*Texto*/
  border-color: #DBDA56;
  /*Borde*/
}
/* .opcCard {
    
} */
.setBtn {
  width: 100%;
  position: center;
  left: 0;
  bottom: 0;
  border-radius: 0%;
  color: #ffffff;
  background-color: #8F1B1B;
  border-color: #DBDA56;
}
.setBtnG {
  width: 100%;
  position: center;
  left: 0;
  bottom: 0;
  border-radius: 0%;
  color: #ffffff;
  background-color: #8F1B1B;
  border-color: #DBDA56;
}
.btn {
  background-color: #997b71;
  color: #9e310c;
}
.btnPrecio {
  background-color: #ffffff;
  color: #ff7f50;
  width: 100%;
  position: center;
  left: 0;
  bottom: 0;
  border-radius: 0%;
}
.footer-icons {
  padding-right: 10px;
}
.tab-content {
  padding-top: 5px;
}
